/*日本語フォントの指定: Noto Sans JP */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html {
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    display: flex;
    justify-content: center;
}

body {
    background: #f9f9f9;
}


#tefuda-info {
    margin: 0;
    font-size: 14px;
    color: rgba(33, 37, 41, 0.75);
}
